.footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  flex: 0 0 auto;
  min-height: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: var(--primary-color);
  padding: 0 0.5rem;
}

.footer_left {
  flex: 1 0 auto;
}

.footer_middle {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.footer_right {
  flex: 1 0 auto;
  text-align: right;
  font-family: "Cinzel", serif;
  padding-right: 8px;
}
